<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Artigos Recentes</h2>

  <!-- 1. Exibe os artigos -->
  <div class="article" *ngFor="let item of items | async">

    <ion-card>
      <img src="{{ item.img }}" alt="{{ item.title }}">
      <ion-card-header>
        <ion-card-title>{{ item.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.intro }}</ion-card-content>
    </ion-card>

  </div>

</ion-content>
