<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Logout / Sair</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- 1. Logout do usuário -->
  <h2 class="ion-no-margin" *ngIf="auth.user | async as user">Olá {{user.displayName}}!</h2>
  <p class="ion-text-justify">Clique no botão abaixo para confirmar a saída do aplicativo.</p>
  <p>&nbsp;</p>
  <ion-button (click)="logout()" expand="block">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>Sair do Aplicativo
  </ion-button>

</ion-content>
